body {
  padding: 0;
  margin: 0;
}

#app {
  background: #f1ea99;
  width: 100vw;
  height: 98vh;
  margin-top:5px;
  border-radius: 5px;
}

.cm-s-default{
  background:transparent !important;
}
/*  .editor .tuieditor .CodeMirror .tui-editor-defaultUI */
#app #home{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100vw;
  height: 88vh;
  background:transparent !important;
  background-color:transparent !important;
}

.te-editor, .te-ww-container, .editor{
  width: 100% !important;
  position: absolute;
  background:transparent !important;
  background-color:transparent !important;
}


.te-toolbar-section, .te-preview, .te-md-splitter{
  display: none !important;
} 

.CodeMirror .tui-editor-defaultUI{
  height: 100%;
}

#NavBar {
  height: 20px;
  background: #2c3e50;
  border-radius: 5px 5px 0px 0px;
  padding: 10px 10px 10px 5px;
  -webkit-app-region: drag;
}
#NavBar a{
  font-weight: bold;
  color: #fff;
  padding-left: 10px;
  text-decoration: none;
  -webkit-app-region: none;
}

#NavBar #controls a {
  float: right;
}
#NavBar *{
  -webkit-app-region: none;
}

#NavBar input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px dashed lightblue;
  background: none;
  color: white;
  width:20%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#NavBar select {
  border:none;
  background: #2c3e50;
  color: white;
  border-bottom: 3px solid lightblue;
  width:20%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  left: 0;
}

#NavBar option{
  border:none;
  background:#2c3e50;
  outline: none;
}

#NavBar textarea:focus,
#NavBar input:focus,
#NavBar select:focus,
#NavBar option:focus{
  outline: none;
}

.btn {
  background-color: #2c3e50; /* Green */
  border-radius: 5px;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

#settings{
  overflow: hidden;
}

#settings form{
  padding:10px;
}