.cm-s-dark .CodeMirror-gutters { background: #2d3033; border-right: 0px; }
.CodeMirror.cm-s-dark { background: #2d3033; color: #fff !important; border-radius: 0px 0px 5px 5px;}
.cm-s-dark, .cm-formatting-list, .cm-formatting-task, .cm-property { color: #fff !important;}
.CodeMirror-line::selection { color: #fff !important;}